html{
	height: 100%
}

body{
	padding: 0;
	margin: 0;
	height: 100%;
	outline: none;
	background-image: url("images/Star Background - 16.png");
	background-repeat: repeat;
	background-color: #F0F0F0;
	font-family: helvetica;
}
/*Large Header*/
h1{
	font-family: arial;
	color: #666;
	text-shadow: 0px 0px 10px #EFEFEF;
	margin: 0;
	padding-top: 7px;
}
/*Medium Header*/
h2{
	margin: 0;
	color: #666;
	margin-bottom: 9px;
	text-shadow: 0px 0px 10px #EFEFEF;
}
/*Basic text*/
h3{
	margin: 0;
	padding: 0;
	color: #666;
	font-size: .9em
}
a{
	text-decoration: none;
	color: #333;
}
/******************************************
	This section is for Global entities
******************************************/
.global_wrapper{
	position: relative;
	min-width: 1180px;
	height: 100%;
}
.global_head{
	position: fixed;
	width: 100%;
	min-width: 600px;
	height: 45px;
	background-color: #757C70;
	box-shadow: 0px 3px 10px -3px #666;
	z-index: 10;
}

#top_menu{
	width: 730px;
}
.top_menu_item{
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	width: 33%;
	height: 100%;
	border-radius: 1px;	
	cursor: pointer;
}

.top_menu_item:hover{
	background-color: #F1D0D1;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
}
#top_volunteer{
	background-image: url("images/volunteer_white.png");	
}

#top_register{
	background-image: url("images/register.png");
	background-position-y: 13px;
}

#top_donate{
	background-image: url("images/donate.png");
}

.top_menu_item a {
	display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.clickable1 a{
	position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-decoration:none; /* Makes sure the link   doesn't get underlined */
    z-index:10; /* raises anchor tag above everything else in div */
    background-color:white; /*workaround to make clickable in IE */
    opacity: 0; /*workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
	cursor: pointer;
}
.content_wrapper{
	width: 100%;
	height: 100%;
}
.center_wrapper{
	margin-left: auto;
	margin-right: auto;
	min-width: 880px;
	width:74%;
	height: 100%;
}
.basic_input_field{
	box-shadow: 0px 0px 15px -3px #3AA;
	border-width: 0px;
}
.center_head{
	width: 100%;
	height: 100px;
}
.center_body{
	background-color: #FFF;
	width: 100%;
	min-width: 945px;
	min-height: 1200;
	border-radius: 5px;
	box-shadow: 1px 1px 10px -3px #666;
}
.body_left_col{
	width: 80%;
	min-width: 740px;
	float: left;
}
.body_left_head{
	width: 100%;
	height: 170px;
	border-bottom: solid 1px #EFEFEF;
	text-align: center;
}
.head_img{
	background-image: url("images/run_to_live_560.png");
	width: 560px;
	height: 53px;
	float: left;
	margin-top: 106px;
}
.body_left_body{
	width: 100%;
}
.body_article{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 60px;
	padding-top: 20px;
	font-size: 1em;
	font-family: sans-serif;
	color: #555;
	background-image: url("images/shadow_divider_600.png");
	background-repeat: no-repeat;
	background-position: bottom;
}
.centering_box{
	margin-left: auto;
	margin-right: auto;
}
.article_1{
}
.article_2{
	padding-top: 0px;
}
.article_3{
}
.article_4{
}
.article_5{
}
.article_6{
}
.video_wrapper{
	width: 574px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	height: 329px;
	box-shadow: 1px 1px 16px -1px #999;
}
.video_tab{
	background-image: url("images/page_tab_250.png");
	background-repeat: no-repeat;
	position: relative;
	top: -2px;
	left: 14px;
	width: 250px;
	height: 35px;
	opacity: .75;
}
.k5_video{
	padding-left: 7px;
	padding-top: 7px;
}
.body_right_col{
	width: 19%;
	min-width: 183px;
	height: 100%;
	float: right;
	border-left: solid 1px #EFEFEF;
	margin-top:0px;
}
.fb_wrap{
	width: 215px;
	height: 100px;
	margin-top: 170px;
	margin-left: auto;
	margin-right: auto;
	border-top: solid 1px #EFEFEF;
}
.fb-like{
	padding-top: 25px !important;
}
.body_footer{
	width: 80%;
	height: 80px;
	float: left;
	border-top: solid 1px #EFEFEF;
	text-align: center;
	padding-top: 26px;
}
.center_footer{
	width: 100%;
	height: 100px;
}
/*****************/
/* Logo */
/*****************/
.boxes{
	width: 160px;
	margin: 5px;
	height: 100%;
	float: left;
}
.box{
	width: 70px;
	height: 70px;
	border-radius: 1px;
	float: left;
	margin: 5px;
	box-shadow: inset 1px 1px 15px -5px #999;
}
.top_left_box{
	background-color: #BFE4DA;
}
.top_right_box{
	background-color: #F2F7E6;
}
.bottom_left_box{
	background-color: #757C70;
}
.bottom_right_box{
	background-color: #F1D0D1;
}

/*****************/
/* Right Nav Bar */
/*****************/
.body_right_col a
{
	height: 25px;
	display: block;
	border: 3px solid white;
	background-color: #BFE4DA;
	padding: 5px;
	margin-left: 14px;
	box-shadow: inset 1px 1px 8px -2px #999;

	/* Slide over transition */
	transition: margin-left 50ms linear;
	-moz-transition: margin-left 50ms linear;
	-webkit-transition: margin-left 50ms linear;
	-o-transition: margin-left 50ms linear;
}

.body_right_col a:hover
{
	background-color:#F1D0D1;
	box-shadow: none;
	margin-left:0px;
}

.body_right_col a:active
{
	box-shadow: inset 1px 1px 8px -2px #999;
}

.body_right_col div
{
	font-family:arial;
	list-style-type:none;
	width:100%;
	padding:0px;
	overflow:hidden;
}
.body_right_col a
{
	display:block;
	width:89%;
}

#ext_links
{
	margin-top:100px;
}

/* These applies styles to the 'selected' nav element
   In other words, the 'home' navigation button will be selected when on the home page.
 */
#body_home #nav_home,
#body_register #nav_register,
#body_volunteer #nav_volunteer,
#body_donate #nav_donate,
#body_disorders #nav_disorders
{
    margin-left:0px;
	background-color:#F1D0D1;
	pointer-events:none;
	cursor:none;
}

/**************************/
/* Disabled Links:        */ 
/* Remove entry to enable */
/**************************/
#top_register a,
#top_donate a,
#nav_disorders,
#nav_donate,
#nav_register
{
	display:none;
}







